<!DOCTYPE html>
<html>

<head>
  <title>Create user</title>
</head>

<body>

    {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
   <p>
        <a href="/"> Back to front page </a>
    </p>


  <form action="/create_user" method="post">
    <p>
      Enter your username: <br/>
      <input type="text" name="username" maxlength="40" required/>
      
    </p>
    <p>
      Enter your password: <br/>
      <input type="password" name="password"  maxlength="100" required />
    
    </p>
    <p>
      Re-enter your password: <br/>
      <input type="password" name="password2"  maxlength="100" required/>
    </p>
  
    <input type="submit" value="Create user" />

  </form>
</body>

</html>
