<!DOCTYPE html>
<html>

<head>
    <title>Diagnoses</title>
</head>

<body>
     <p>
        <a href="/"> Back to front page </a>
    </p>
    {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
    {% endfor %}

    <h1>Diagnoses</h1>
    <hr>

    <p>
        <h3>
            <a href="/diagnoses/add/form"> Add new diagnosis</a>
        </h3>
    </p>
    <hr>
    {% for diagnosis in diagnoses %}
    <p>
    <a href="/diagnoses/{{diagnosis.id}}"> {{diagnosis.id}} | patient: {{diagnosis.patientsId}}, ICD11:  {{diagnosis.icd11}}, date of diagnosis: {{diagnosis.diagnosisDate}} </a>
    <br>
    Added by: <a href="/users/{{diagnosis.usersId}}" > {{diagnosis.username}} </a>
    <br>
    <a href="/diagnoses/{{diagnosis.id}}/edit"> Edit</a> |
    <a href="/diagnoses/{{diagnosis.id}}/delete"> Delete</a>
    </p>
    {% endfor %}

</body>
</html