<!DOCTYPE html>
<html>

<head>
  <title>Edit sample</title>
</head>

<body>
     <p>
        <a href="/"> Back to front page </a>
    </p>

    {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
    {% endfor %}

  <form action="/samples/{{ sample.id }}/edit" method="post">
    <p>
      patientId<br/>
      <input type="text" name="patientId", value="{{sample.patientsId}}" maxlength="100" required/>
      
    </p>
    <p>
      Sample type: <br/>
    
      <select id="sampleType" name="sampleType" size="8">
        <option value="blood"> Blood </option>
        <option value="tissue"> Tissue </option>
        <option value="urine"> Urine </option>
        <option value="swab"> Swab </option>
      </select>
    </p>
    <p>
      Sample measurement: <br/>
      <input type="text" name="sampleMeasurement" , value="{{sample.sampleMeasurement}}" maxlength="100" required/>
    </p>
    <p>
      Measurement value: <br/>
      <input type="text" name="sampleValue" , value="{{sample.sampleValue}}" maxlength="100" required />
    </p>
    <p>
      Sample date: <br>
      <input type="text" name="sampleDate", value="{{sample.sampleDate}}" maxlength="10" required/>
    </p>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    
    <input type="submit" value="Accept changes" />

  </form>
</body>

</html>
