<!DOCTYPE html>
<html>

<head>
    <title>Clinidata</title>
</head>

<body>

    {% if session.username %}
    <h1>Welcome to the Clinidata Healthcare Database, {{session.username}}</h1>
    <p>
        This is where data meets professionals
    </p>

    {% else %}

    <h1>Welcome to the Clinidata Healthcare Database, guest</h1>
    <p>
        This is where data meets professionals
    </p>
    {% endif %}

    {% if session.username %}

        <form action="/search" method="get">
            <p>
            Search for patients: 
            {% if query %}
            <input type="text" name="query" value="{{ query }}" />
            {% else %}
            <input type="text" name="query" />
            {% endif %}
            </p>
            <input type="submit" value="Search" />
        </form>
        

        <p>
            Total patients:  {{ patients|length }} <br>
            <a href="/patients">View patients</a>
        </p>
        <p>
            Total diagnoses: {{ diagnoses|length }} <br>
            <a href="/diagnoses">View diagnoses</a>
        </p>
        <p>
            Total samples: {{ samples|length }} <br>
            <a href="/samples">View samples</a>

        
        </p>
        <hr>
        <p>
            <a href="/users/{{session.userid}}">View your user page </a>
        </p>
    {% else %}
        <p>
            You are not logged in! <a href="/login/form"> Click here to log in</a>
        </p>
    {% endif %}
    
</body>
</html