<!DOCTYPE html>
<html>

<head>
  <title>New sample</title>
</head>

<body>
     <p>
        <a href="/"> Back to front page </a>
    </p>
    {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
    {% endfor %}

    <form action="/samples/add" method="post">
    <p>
      Patient social security ID (SSID): <br/>
      <input type="text" name="ssid" value= "{{ filled.ssid }}" maxlength="11" required/>
      
    </p>
    <p>
      Sample type: <br/>
      <select id="sampleType" name="sampleType" size="4" required>
        <option value="blood"> Blood </option>
        <option value="tissue"> Tissue </option>
        <option value="urine"> Urine </option>
        <option value="swab"> Swab </option>
      </select>
      
    </p>
    <p>
      Sample measurement: <br/>
      <input type="text" name="sampleMeasurement" value= "{{ filled.sampleMeasurement }}" maxlength="100" required />
    </p>
    <p>
      Measurement value: <br/>
      <input type="text" name="sampleValue" value= "{{ filled.sampleValue }}" maxlength="100" required/>
    </p>
    <p>
      Sample date: <br>
      <input type="text" name="sampleDate" value= "{{ filled.sampleDate }}" maxlength="10" required/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Add sample" />

  </form>
</body>

</html>
