<!DOCTYPE html>
<html>

<head>
  <title>New sample</title>
</head>


<body>
   <p>
        <a href="/"> Back to front page </a>
    </p>
    {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
    {% endfor %}

    <form action="/patients/{{patient.id}}/comment" method="post">
    
    <p>
      Enter comment (max 500 characters): <br />
      <textarea name="content" rows="10" cols="50"></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    
    <input type="submit" value="Send" />
  </form>

  </body>
</html>