<!DOCTYPE html>
<html>

<head>
  <title>New patient</title>
</head>

<body>
   <p>
        <a href="/"> Back to front page </a>
    </p>
    
  <form action="/patients/add" method="post">
    <p>
      Social security ID (SSID): <br/>
      <input type="text" name="ssid" maxlength="11" required />
      
    </p>
    <p>
      First name: <br/>
      <input type="text" name="firstName" maxlength="100" required />
    
    </p>
    <p>
      Last name: <br/>
      <input type="text" name="lastName" maxlength="100" required />
    </p>
    <p>
      Date of birth: <br/>
      <input type="text" name="dateOfBirth" maxlength="10" required />
    </p>
  
    <input type="submit" value="Add patient" />

  </form>
</body>

</html>
