<!DOCTYPE html>
<html>



<head>
    <title>Patient info</title>
</head>

 
<body>
     <p>
        <a href="/"> Back to front page </a>
    </p>
    {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
    {% endfor %}

    {% for patient in patients %}
    
        <h1>{{patient.firstName}} {{patient.lastName}}, {{patient.ssid}}</h1>
        <p>
        Date of birth: {{patient.dateOfBirth}}
        </p>
        <hr>
        <h3>Comments: </h3>
        
        <a href="/patients/{{patient.id}}/comment/form"> Add comment</a>
        <br>
        
        {% for comment in comments %}
            <p>
            {{ comment.usersId }} on ({{ comment.commentDate }}):
            <br>
            {{comment.content}}
            <br>
            </p>

        {% endfor %}
        <hr>

        <h3>Diagnoses: </h3>
        <a href="/patients/{{patient.id}}/diagnosis/form"> Add diagnosis</a>
        <br>
        {% for diagnosis in diagnoses %}
            <p>
            {{ diagnosis.icd11 }}, date of diagnosis: ({{ diagnosis.diagnosisDate }}):
            <br>
            <a href="/diagnoses/{{diagnosis.id}}/edit"> Edit</a> |
            <a href="/diagnoses/{{diagnosis.id}}/delete"> Delete</a>
            </p>

        {% endfor %}
        <hr>

        <h3>Samples: </h3>
        <a href="/patients/{{patient.id}}/sample/form"> Add sample</a>
        <br>
        {% for sample in samples %}
            <p>
            {{sample.sampleDate }}, <br>
            {{sample.sampleType}}, <br>
            {{sample.sampleMeasurement}}: {{sample.sampleValue}}<br>

            <a href="/sample/{{sample.id}}/edit"> Edit</a> |
            <a href="/samples/{{sample.id}}/delete"> Delete</a>
            </p>
            <hr>
        {% endfor %}
    {% endfor %}
</body>
</html>