<!DOCTYPE html>
<html>

<head>
    <title>Samples</title>
</head>

<body>
    <p>
        <a href="/"> Back to front page </a>
    </p>

    {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
    {% endfor %}

    <h1>Samples</h1>
    <hr>

    <p>
        <h3>
            <a href="/samples/add/form"> Add new sample</a>
        </h3>
    </p>
    <hr>
    {% for sample in samples %}
    <p>
    <a href="/samples/{{sample.id}}"> {{sample.id}} </a> | patient: {{sample.patientsId}}, sample type:  {{sample.sampleType}}, measurement type: {{sample.sampleMeasurement}}, measurement value: {{sample.sampleValue}}, sample date: {{sample.sampleDate}}
    <br>
    <a href="/samples/{{sample.id}}/edit"> Edit</a> |
    <a href="/samples/{{sample.id}}/delete"> Delete</a>
    </p>
    {% endfor %}

</body>
</html